sudo: required

env:
  global:
    - CHANGE_MINIKUBE_NONE_USER=true
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - KUBECONFIG=/home/travis/.kube/config

before_script:
- ci/install.sh

script:
- dotnet restore src/Helm.sln
- cd proto
- ./generate.sh
- cd ../src
- dotnet build --no-restore -c Release
- dotnet pack --no-restore -c Release
- dotnet test Helm.Tests
- dotnet test Helm.IntegrationTests